header{
    height: 500px;
    width:fit-content;
    background-image: url("reportimages/hbg.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: thistle;
    position: relative;
}
.headercontent{
    position: absolute;
    top: 100px;
    left: 150px;
    font-size: 60px;
    font-weight: bold;
    color: moccasin;
    width: 900px;
    text-align: center;
    height: fit-content;
}
.generate{
    position: absolute;
    top: 300px;
    left: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(70, 42, 42);
    height: auto;
    width: 800px;
    text-align: center;
    line-height: 50px;
    font-size: 40px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}
.tableheadgen{
    position: absolute;
    top: 250px;
    left: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(70, 42, 42);
    height: auto;
    width: 800px;
    text-align: center;
    line-height: 50px;
    font-size: 40px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}   
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-attachment: fixed;
    background-image: url("reportimages/graduate.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: fit-content;
    width: fit-content;
}
article{
    background-color: rgba(0, 0, 0, 0.5);
    height: fit-content;
    width: fit-content;

}
.navigation{
    position: absolute;
    width:50px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20%;
}
.navigation:hover{
      background-color: rgba(225, 225, 225, 0.5);
}
.logo{
    position: absolute;
    font-size: xx-large;
    left: 60px;
}
.nav_overlay{
    position:fixed;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8);
    width: 20%;
    height: 70%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: left;
    align-items: left;
    /*animation: */
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    transform: scale(1.1);
}
.nav_overlay.open{
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}
.navigation{
    cursor: pointer;
    z-index: 1001;
}
.navigation.is-active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
.navigation.is-active span:nth-child(2) {
    opacity: 0;
}
.navigation.is-active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
.links{
    position: absolute;
    top: 30px;
    font-size: x-large;
    

}





